<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animals</title>
</head>
<body>
    <h1><%= title %></h1>
    <h2>Love these dude!</h2>
    <ul>
        <% animals.forEach(function(animal) { %>
        <li><%= animal %></li>
        <% }) %>
    </ul>
    
</body>
</html>